{
  "parser": "babel-eslint",
  "extends": [
    "eslint:recommended",
    "plugin:flowtype/recommended"
  ],
  "plugins": [
    "compat",
    "flowtype"
  ],
  "rules": {
    "compat/compat": "error",
    "no-console": "off",
    "quotes": ["error", "backtick"],
    "semi": "error",
    "strict": "off"
  },
  env: {
    "jest": true,
    "node": true
  }
}